# Groq API
GROQ_API_KEY=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

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://kdvxvfmltwnpqvdfjrvb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtkdnh2Zm1sdHducHF2ZGZqcnZiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgwNzU4MDEsImV4cCI6MjA5MzY1MTgwMX0.y4BTkvxCz0D0SVglMckNE37NYjpnODrvpXyuBDY-s1Y
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtkdnh2Zm1sdHducHF2ZGZqcnZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA3NTgwMSwiZXhwIjoyMDkzNjUxODAxfQ.-sE8nkkkx0BWFjBEUc5a-W62cKGPXX-yXOd_nEJzmks
